*.aux
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.glg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.map
*.out
*.synctex.gz
*.synctex(busy)
*.thm
*.toc
*.xdv

*.pdf
*.zip

*.sty
*.def
*.ins

.DS_Store
.vscode/
CTAN/
TDS/
build/
test/

*.bat

source/*.sh
source/*.md
source/*.tex
source/ctxdoc.cls
source/latexmkrc
source/latexmkrc-en
