*.aux
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.glg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.map
*.out
*.synctex.gz
*.thm
*.toc

# *.pdf

*.bat

*.zip

source/*.sty
source/*.def
source/*.pdf
source/ctxdoc-m.cls

test/*.sty
test/*.def
test/*.pdf

doc/
TDS/
zhlipsum/
