*.aux
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.glg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.log
*.map
*.out
*.synctex.gz
*.thm
*.toc
*.xdv

*.pdf
*.bat
*.zip

*.sty
*.def
*.ins

latexmkrc

.vscode/
doc/
TDS/
test/
zhlipsum/
